/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: auto;
}

div {
  box-sizing: border-box;
}

$white: #fff;

$grey-50: #f8fafc;
$grey-100: #f1f5f9;
$grey-400: #94a3b8;
$grey-900: #111827;

$zink-200: #e4e4e7;
